
.Nav_conteiner {
    height: 100vh;
    padding: 0 0 0 2rem;
    margin: 0 -1rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: left;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    color: #f3f3f3;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
}

.button:hover{
    background-color: #21806E;
    color: #f3f3f3;
}


a{
    text-decoration: none;
}