
.Nav_conteiner {
    height: 100vh;
    padding: 0 0 0 2rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button{
    margin: 0.5rem 0 0.5rem 0;
}