.home{
    margin: 2rem 2rem 2rem 0;
    margin: 2rem 2rem 2rem 0;
    border: none;
    background: linear-gradient(135deg, #354457, #2b2b2b);
    border-radius: 1rem;
    box-shadow: -8px -8px 25px #354457, 8px 8px 25px #2b2b2b;
}