.home{
    margin: 2rem 2rem 2rem 0;
    margin: 2rem 2rem 2rem 0;
<<<<<<< HEAD
    border: solid 2px #575757;
    box-shadow: -10px -10px 15px #6d6d6d, 10px 10px 15px #000000;
    background:linear-gradient(135deg,#6d6d6d,#000000 );
    border-radius: 1rem;
=======
    border: none;
    background: linear-gradient(125deg, #ffffff, #818181);
    border-radius: 9rem;
    box-shadow: -20px -20px 25px #ffffff, 20px 20px 15px #464646;
>>>>>>> a29b11c3d7fb852e48432d472ca6125617450595
}