
section{
    display: flex;
    justify-content:center;
    align-items: center;

}

.box_form{
    opacity: 0;
    animation: fade-in 0.3s ease-in-out 300ms forwards;
    width: 400px;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid 1px #f3f3f3;
    border-radius: 1rem;
}

h1{
    font-size: 2.2rem;
    padding: 0;
}

h4{
    padding: 0 0 1rem 0;
}


.div_icon{
    position: relative;
    align-items: center;
    display: flex;
    margin: 0 0 2px 0;
    
}

p{
    font-size: 10px;
    
}


.input{
    background-color:transparent;
    border: solid 1px white;
    border-radius: 3px;
}

.input_label{
    font-size: 0.8rem;
}
 
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}