.conteiner_fav{
    margin: 2rem 2rem 2rem 0;
    padding: 1rem;
    background-color: #ffffff40;
    border-radius: 1rem;
    border: solid .3rem #d3d3d3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    box-shadow: 1.5rem 1rem 2rem #2e2e2e;
}

.selectors{
    display: flex;
    position: absolute;
    max-width: 100%;
    justify-self: center;
    justify-content: center;
}

.selectors select{
    background-color: #ffffff40;
    border: solid 1px #d3d3d3;
    border-radius: 2rem;
    padding: 2px 9px 2px 9px ;
    margin: 0 5px 0 5px;
    color: #2e2e2e;
    text-align: center;
    box-shadow: .7rem .2rem 1.2rem #3b3b3b, -.7rem -.2rem 1.2rem #e6e6e6
}

.selectors option{
    background:transparent;
}

.card_fav{
    padding-top: 1.5rem;
}