
.search button{
    color: #2e2e2e;
    background-color: transparent;
    border: none;
}

.search{
    cursor: pointer;
    display: flex;
    background-color: #d3d3d340;
    border-radius: 2rem;
    padding: 9px 12px 9px 12px ;
    border: 1px solid #d3d3d3;
    box-shadow: .7rem .2rem 1.2rem #1f5f5e, -.7rem -.2rem 1.2rem #52dddb
}

.input_search{
    background-image: url('./img/search.svg');
    background-size: 1.1rem;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding-left: 1rem;
    width: 0;
    transition: all 1s;
    cursor: pointer;
}

.input_search:focus{
    outline: none;
    width: 100px;
}