
.search button{
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: transparent;
}

.search{
    display: flex;
    background-color: #d3d3d3;
    border-radius: 30rem;
    padding: 12px 9px 12px 9px ;
    border: 2px solid #d3d3d3;
}

.input_search{
    border: none;
    background: transparent;
    padding-left: 40px;
    width: 0;
    transition: all 1s;
}

.input_search:focus{
    outline: none;
    width: 150px;
}